@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
*,*:after,*:before{
  box-sizing: border-box;
}
body {
  background: #FCF8F0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #41719F;
  font-size: 3em;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 1em;
  padding-left: 1em;
}

.benefit--content a {
  color: #41719F;
}

.section {
  padding-top: 5vh;
}

.show {
  display: block !important;
}

.hide {
  display: none;
}

.intro-title {
  color: #41719F;
  font-size: 2em;
  margin-left: 2vw;
  margin-bottom: 4vh;
}

.intro-par {
  color: #8DCCFC;
  margin: 0 auto;
  width: 90%;
}

.header {
  text-align: center;
  position: fixed;
  width: 100%;
  background-color: #8DCCFC;
  left: 0;
  top: 0;
  z-index: 100;
  padding-bottom: 1vh;
}

.header h1 {
  margin-bottom: 0;
}

.header p {
  color: #41719F;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1em;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav a {
  color: #FCF8F0;
  text-decoration: none;
  font-size: 1.5em;
}

.nav a:active {
  color: yellow;
}

.nav a:hover {
  color: #41719F;
}

.hero {
  margin: 4vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-top: 12em;
}

.hero--info {
  color: #8DCCFC;
  display: flex;
  align-items: center;
  margin-top: 4vh;
  font-size: 6vw;
  color: #8DCCFC;
}

.hero--info h2 {
  margin: 0 1vw;
}

.hero p {
  color: #8DCCFC;
}

.hero--img {
  width: 200%;
  height: auto;
}

.hero p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.hero img {
  width: 100%;
  height: auto;
}

.prices--card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.prices--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.4em;
  margin: 1.4em;
  text-align: center;
  border-radius: 30px;
  color: #FCF8F0;
}

.prices--card-big:hover {
border-style: solid;
border-color: #8DCCFC;
border-width: 1em;
}

.prices--card-small:hover {
border-style: solid;
border-color: #41719F;
border-width: 1em;
}

.prices--card-big h3 {
  font-size: 7vw;
}

.prices--card-big p {
  font-size: 3vw;
}

.prices--card-big h2 {
  font-size: 14vw;
}

.prices--card-small h3 {
  font-size: 8vw;
}

.prices--card-small p {
  font-size: 2.7vw;
}

.prices--card-small h2 {
  font-size: 12.6vw;
}

.prices--card-small {
  width: 70vw;
  height: 70vw;
  background: #8DCCFC;
}

.prices--card-big {
  width: 75vw;
  height: 75vw;
  background: #41719F;
}

.benefit--row-container {
  padding-left: 6vw;
}

.benefit--row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.benefit--row a {
  color: #8DCCFC;
  font-weight: bold;
  font-size: 1.3em;
  margin: 1em;
}

.benefit--content {
  display: none;
}

.benefit--content-active {
  display: block;
}

.contact {
  display: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.contact--input {
  margin-top: 2em;
  padding: 1em 2em;
  border-radius: 20px;
  border: 2px solid #A0BED0;
  background: transparent;
}

.contact-btn {
  margin: 10vh auto;
  font-size: 2.5em;
  color: #FCF8F0;
  border: none;
  background: #8DCCFC;
  border-radius: 70px;
  width: 10em;
  height: 3em;
  font-weight: bold;
}

#appearContactBtn {
  margin: 10vh auto;
  font-size: 2.5em;
  color: #FCF8F0;
  border: none;
  background: #8DCCFC;
  border-radius: 70px;
  width: 10em;
  height: 3em;
  font-weight: bold;
}

#specs-list {
  list-style: none;
  font-size: 2em;
  text-align: center;
}

#specs-list li {
  margin: 2vh 0;
  color: #41719F;
}

.benefit--container {
  width: 100%;
  margin: auto;
}

.info-container {
  margin-top: 20vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.info-container > *{
  flex-basis: 50%;
  padding: 1rem 2rem;
}


#price{
  color: #8DCCFC;
  font-size: 4em;
}

input[type="radio"]{
  display: none;
}

.label{
  display: block;
  width: 100%;
  padding: 1em 2em;
  margin: 1em;
  text-transform: capitalize;
  text-align: center;
}

.label-active {
  background: #41719F;
  color:white;
}

.label-inactive {
  background: #D2ECFF;
  color:#004a97;
}

input:checked + label{
  background-color: blue;
}

input:hover + label{
  background-color: #8DCCFC;
}

#priceSelector {
  display: block;
  height: 4em;
  width: 100%;
  max-width: 600px;
  border: none;
  background: #D2ECFF;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em 2em;
  text-align: center;
}
  
@media (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 3.5em;
  }
  .header p {
    font-size: 1.25em;
  }
  .hero--info {
    display: block;
    margin-top: 0;
  }
  .benefit--row a {
    font-size: 2em;
  }
  .hero--info h2 {
    margin: 0;
  }
  .nav a {
    font-size: 1.75em;
  }
  .contact-form {
    width: 70%;
  }
  .benefit--container {
    width: 80%;
    margin: auto;
  }
  .intro-title {
    font-size: 2.5em;
  }
  .prices-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .prices--card-container {
    flex-direction: row;
    justify-content: space-around;
    color:
  }
  .prices-card-smal-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .prices--link-tablet {
    display: flex;
    align-items: center;
  }
  .prices--link {
    display: none;
  }
  .intro-par {
    width: 70%;
    margin: 0 auto;
  }
  .hero {
    flex-direction: row;
    margin-top: 15em;
    max-width: 60vw;
  }
  #specs-list {
  font-size: 2.5em;
  }
  .prices--card-big h3 {
    font-size: 5vw;
  }
  .prices--card-big p {
    font-size: 2vw;
  }
  .prices--card-big h2 {
    font-size: 7vw;
  }
  .prices--card-small h3 {
    font-size: 4.5vw;
  }
  .prices--card-small p {
    font-size: 1.8vw;
  }
  .prices--card-small h2 {
    font-size: 6.3vw;
  }
  .prices--card-small {
    max-width: 34vw;
    max-height: 34vw;
    background: #8DCCFC;
  }
  .prices--card-big {
    width: 44vw;
    height: 44vw;
    background: #41719F;
  }
  .info-container{
    flex-direction: column;
  }
  #specs-list{
    text-align: center;
  }
  .info-form{
    display: flex;
  }
  .info-form section{
    flex-basis: 33%;
    margin-top: 0;
  }
  .label{
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .header p {
    font-size: 1.5em;
  }
  .benefit--container {
    width: 60%;
    margin: auto;
  }
  .benefit--row a {
    font-size: 2em;
  }
  .contact-form {
    width: 70%;
    max-width: 700px;
  }
  .intro-title {
    font-size: 3em;
  }
  .intro-par {
    width: 70%;
    margin: 0 auto;
  }
  .hero--info {
    display: block;
    margin-top: 0;
    font-size: 4em;
  }
  .hero--info h2 {
    margin: 0;
  }
  .hero {
    flex-direction: row;
    margin-top: 16em;
    max-width: 50vw;
  }
  h1 {
    font-size: 4em;
  }
  .nav a {
    font-size: 2em;
  }
  .prices--card-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .prices-card-smal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .prices--card-big h3 {
    font-size: 2em;
  }
  .prices--card-big p {
    font-size: 1em;
  }
  .prices--card-big h2 {
    font-size: 4em;
  }
  .prices--card-small h3 {
    font-size: 1.6em;
  }
  .prices--card-small p {
    font-size: 0.8em;
  }
  .prices--card-small h2 {
    font-size: 3.2em;
  }
  .prices--card-small {
    width: 20vw;
    max-width: 270px;
    height: 20vw;
    max-height: 270px;
    background: #8DCCFC;
  }

  .prices--card-big {
    width: 26vw;
    max-width: 340px;
    height: 26vw;
    max-height: 340px;
    background: #41719F;
  }
  .info-container{
    margin-top: 30vh;
    flex-direction: row;
  }
  .label,
  #priceSelector{
    text-align: left;
  }
  #specs-list{
    text-align: right;
    font-size: 2em;
  }
}